{% extends "base.html" %}
{% block source %}{% load poll_extras %}{% endblock source %}
{% block title %} Авторизация {% endblock title %}


{% block body %}
<div class="login">
    <h3><p>Войдите</p></h3>

    <form id="login_form" class="form-horizontal" action="" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="id_login" class="col-sm-3 control-label">Логин: </label>
            <div class="col-sm-9">
                <input class="form-control" id="id_login" maxlength="15" name="login" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label for="id_password" class="col-sm-3 control-label">Пароль: </label>
            <div class="col-sm-9">
                <input class="form-control" id="id_password" maxlength="15" name="password" type="password" />
            </div>
        </div>
        <button style="float:left; margin-top: 15px;" class="btn btn-primary" type="submit">Войти</button>
    </form>
    <button style="float:left; margin-top: 15px; margin-left: 10px;" class="btn btn-primary" id="reg_btn">Зарегестрироваться</button>
</div>

{% if login_form_errors %}
    <script>
        {% for field in login_form_errors %}
            var inp = $('input[name={{field}}]');
            inp.attr('placeholder', '{{ login_form_errors|get_item:field }}');
            inp.parent().parent('.form-group').attr('class', "form-group has-error");
        {% endfor %}
    </script>
{% endif %}

<script>
    $(document).ready(function() {
        $("#reg_btn").click(function () {
            {#        $("#content").load('/accounts/register');#}
{#            alert("reg_btn handler for .click() called.");#}
            window.location.replace("/accounts/register/");
        });
    });
</script>

{% endblock body %}